.article {
  max-width: 80vw;
  min-height: 100vh;
}
.page {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
